.listContainer {
  justify-content: flex-start;
}

.listContainer--boton-tallas .listItemActive :global(.vtex-button) {
  background-color: #efefef;
  border: none !important;
  padding-left: 0px !important;
  margin: 0px !important;
  border-radius: 0px !important;
  width: 100%;
  color: #757575;
  font-family: 'Monserrat-bold';
}

.listContainer--boton-tallas .listItem :global(.vtex-button) {
  border: none !important;
  width: 100%;
  color: #757575;
  font-family: 'Monserrat-bold';
}

.listContainer--boton-tallas .listItemActive {
  padding-left: 0px !important;
  margin: 0px !important;
  width: 50%;
}

.listContainer--boton-tallas .listItem {
  padding: 0px !important;
  margin: 0px !important;
  width: 50%;
}

/*estilo para guia de talla*/

.listContainer--boton-tallaspromociones .listItemActive :global(.vtex-button) {

  border: none !important;
  padding-left: 0px !important;
  margin: 0px !important;
  border-radius: 0px !important;
  width: 100%;
  color: #fff;
  background-color: #e4147e;
  font-family: 'Monserrat-bold';
}

.listContainer--boton-tallaspromociones .listItem :global(.vtex-button) {

  border: none !important;
  width: 100%;
  margin-right: 100px;
  font-family: 'Monserrat-bold';


}

.listContainer--boton-tallaspromociones .listItemActive {

  padding-left: 0px !important;
  margin: 100px !important;
  width: 50%;
}

/**/
.listContainer--boton-tallaspromociones .listItem {
  padding: 0px !important;
  margin: 0px !important;
  width: 25%;
}




.listContainer--negocio-digital .listItemActive :global(.vtex-button) {
  background-color: #00bab5 !important;
  border: none !important;
  padding-left: 0px !important;
  margin: 0px !important;
  border-radius: 0px !important;
  width: 100%;
  color: #fff !important;
  font-family: 'Monserrat-regular';
}

.listContainer--negocio-digital .listItem :global(.vtex-button) {
  background-color: transparent;
  border: none !important;
  width: 100%;
  color: #000;
  font-family: 'Monserrat-regular';
}
.listItem{
  background-color: #efefef !important;
} 

.listContainer--negocio-digital .listItemActive {
  padding-left: 0px !important;
  margin: 0px !important;
  width: 33%;
}

.listContainer--negocio-digital .listItem {
  background-color: #efefef !important;
  padding: 0px !important;
  margin: 0px !important;
  width: 33%;


}
.contentContainer--negocio-digital{
  background-color: #ddf2f1;
}

.listContainer--negocio-digital{
  justify-content: space-between;
  margin-bottom: 15px;
  color: red
}

